main{
    padding-top: 100px;
    height: 100vh;
}
#upload {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1;
    color: black;
    text-decoration: none;
}
#upload:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid darkgreen;
}
.myCard{
    height: 400px;
    width: 400px;
    position: relative;
    border-radius: 25px;
}
.img-card{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: cover;
}
.id{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid white;
}
.title{
    position: absolute;
    bottom: 20px;
    text-align: center;
    z-index: 1;
    left :50%;
    transform: translate(-50%, 0%);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
    padding: 5px 100px;
    border-radius: 50px;
}
.action{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}
.btn-action{
    font-size: 1rem;
    border: none;
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
}
.btn-action:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:black;
}
.info:hover{
    background-color: lightblue;
}
.edit:hover{
    background-color: darkorange;
}
.delete:hover{
    background-color: red;
}