@{
    Layout = "Admin/_Layout";
    ViewData["Title"] = $"Dettaglio Foto {Model.Title}";
}

@model Photo

<div class="container text-center">
    <img src="data:image/png;base64,@(Convert.ToBase64String(Model.Image))" alt="@Model.Title" class="img-fluid" />
    <div class="d-flex justify-content-center align-items-center gap-3 my-3">
        <h1>@Model.Title</h1>
        <div class="visibilityTag">
            @if(Model.Visible)
            {
                <i class="fa-solid fa-eye"></i>
            }
            else
            {
                <i class="fa-solid fa-eye-slash"></i>
            }
        </div>
        
    </div>
    <hr />
    <p class="fs-5 py-5"><em>@Model.Description</em></p>
    <hr />
    <div class="mt-4">
        <h3 class="fw-bold">Categorie</h3>
        @if(Model.Categories.Count > 0)
        {
            @foreach(Category category in Model.Categories)
            {
                <div class="fs-5">@category.Name</div>
            }
        }
        else
        {
            <div class="alert alert-info">Nessuna categoria associata a questa foto</div>
        }
    </div>

</div>