@{
    Layout = "Admin/_Layout";
}

<div class="container">
    <a id="upload" asp-action="Create" asp-controller="Photo"><i class="fa-solid fa-upload"></i></a>
    <h1 class="fw-bold fs-1 text-center">
        Fotografie
    </h1>
    <div class="my-3 w-50 mx-auto" >
        <select class="form-select">
            <option value="" selected disabled>Selezionare una categoria per filtrare</option>
        </select>
    </div>
    <ul class="list-unstyled row row-cols-1 row-cols-xxl-3 gy-4">
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="myCard">
                <img src="/img/img-prova.jpg" alt="immagine di prova" class="img-card" />
                <div class="id">1</div>
                <div class="title">Titolo</div>
                <ul class="list-unstyled action d-flex flex-column align-items-center justify-content-center gap-3">
                    <li>
                        <a class="btn-action info"><i class="fa-solid fa-info"></i></a>
                    </li>
                    <li>
                        <a class="btn-action edit"><i class="fa-solid fa-pen"></i></a>
                    </li>
                    <li>
                        <form>
                            <button class="btn-action delete"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>